USE [master]
GO
/****** Object:  Database [AD_CA_MH]    Script Date: 20/04/2021 00:51:46 ******/
CREATE DATABASE [AD_CA_MH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AD_CA_MH', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\AD_CA_MH.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AD_CA_MH_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\AD_CA_MH_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AD_CA_MH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AD_CA_MH]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 20/04/2021 00:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [int] NOT NULL,
	[AccountTypeId] [int] NOT NULL,
	[Balance] [decimal](18, 2) NULL,
	[DateOpened] [date] NOT NULL,
	[CustomerId] [int] NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Associations]    Script Date: 20/04/2021 00:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Associations](
	[Customer1Id] [int] NOT NULL,
	[Customer2Id] [int] NOT NULL,
	[ReferenceDataId] [int] NOT NULL,
 CONSTRAINT [PK_Associations] PRIMARY KEY CLUSTERED 
(
	[Customer1Id] ASC,
	[Customer2Id] ASC,
	[ReferenceDataId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 20/04/2021 00:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerTypeId] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[PhoneNo] [varchar](25) NOT NULL,
	[AddressLine1] [varchar](60) NOT NULL,
	[City] [varchar](30) NOT NULL,
	[Country] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReferenceData]    Script Date: 20/04/2021 00:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReferenceData](
	[Id] [int] NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_ReferenceData_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Securities]    Script Date: 20/04/2021 00:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Securities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[SecurityTypeId] [int] NOT NULL,
	[Value] [decimal](18, 2) NOT NULL,
	[Name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Securities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwCustomersAssociations]    Script Date: 20/04/2021 00:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwCustomersAssociations]
WITH SCHEMABINDING
AS
	SELECT	c1.FirstName + ' ' + c1.LastName + ' is '+ r.Description  + ' of ' + c2.FirstName + ' ' + c2.LastName AS CustomersAssociation,
			a.Customer1Id,
			a.Customer2Id,
			r.Id as ReferenceDataId
	FROM	[dbo].[Associations] a
			INNER JOIN [dbo].[Customers]		c1	ON	c1.Id = a.Customer1Id
			INNER JOIN [dbo].[Customers]		c2	ON	c2.Id = a.Customer2Id
			INNER JOIN [dbo].[ReferenceData]	r	ON	r.Id = a.ReferenceDataId
GO
/****** Object:  View [dbo].[vwReferenceDataDeleted]    Script Date: 20/04/2021 00:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vwReferenceDataDeleted]
WITH SCHEMABINDING
AS
	SELECT  r.Id,
			r.Description
	FROM	[dbo].[ReferenceData] r
	WHERE	r.IsDeleted = 1
GO
INSERT [dbo].[Associations] ([Customer1Id], [Customer2Id], [ReferenceDataId]) VALUES (1, 10, 30)
INSERT [dbo].[Associations] ([Customer1Id], [Customer2Id], [ReferenceDataId]) VALUES (1, 10, 31)
INSERT [dbo].[Associations] ([Customer1Id], [Customer2Id], [ReferenceDataId]) VALUES (1, 10, 32)
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [CustomerTypeId], [FirstName], [LastName], [PhoneNo], [AddressLine1], [City], [Country]) VALUES (1, 21, N'Catherine', N'Abel', N'747-555-0171', N'57251 Serene Blvd', N'Van Nuys', N'United States')
INSERT [dbo].[Customers] ([Id], [CustomerTypeId], [FirstName], [LastName], [PhoneNo], [AddressLine1], [City], [Country]) VALUES (2, 20, N'Kim', N'Abercrombie', N'334-555-0137', N'Tanger Factory', N'Branch', N'United States')
INSERT [dbo].[Customers] ([Id], [CustomerTypeId], [FirstName], [LastName], [PhoneNo], [AddressLine1], [City], [Country]) VALUES (3, 21, N'Frances', N'Adams', N'991-555-0183', N'6900 Sisk Road', N'Modesto', N'United States')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
INSERT [dbo].[ReferenceData] ([Id], [Description], [IsDeleted]) VALUES (1, N'Deposit', NULL)
INSERT [dbo].[ReferenceData] ([Id], [Description], [IsDeleted]) VALUES (2, N'Current', NULL)
INSERT [dbo].[ReferenceData] ([Id], [Description], [IsDeleted]) VALUES (3, N'Loan', NULL)
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Customers1] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Customers1]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_ReferenceData] FOREIGN KEY([AccountTypeId])
REFERENCES [dbo].[ReferenceData] ([Id])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_ReferenceData]
GO
ALTER TABLE [dbo].[Associations]  WITH CHECK ADD  CONSTRAINT [FK_Associations_ReferenceData] FOREIGN KEY([ReferenceDataId])
REFERENCES [dbo].[ReferenceData] ([Id])
GO
ALTER TABLE [dbo].[Associations] CHECK CONSTRAINT [FK_Associations_ReferenceData]
GO
ALTER TABLE [dbo].[Associations]  WITH CHECK ADD  CONSTRAINT [FK_CustomersAssociation_Customer] FOREIGN KEY([Customer1Id])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Associations] CHECK CONSTRAINT [FK_CustomersAssociation_Customer]
GO
ALTER TABLE [dbo].[Associations]  WITH CHECK ADD  CONSTRAINT [FK_CustomersAssociation_Customer1] FOREIGN KEY([Customer2Id])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Associations] CHECK CONSTRAINT [FK_CustomersAssociation_Customer1]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_ReferenceData] FOREIGN KEY([CustomerTypeId])
REFERENCES [dbo].[ReferenceData] ([Id])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_ReferenceData]
GO
ALTER TABLE [dbo].[Securities]  WITH CHECK ADD  CONSTRAINT [FK_Securities_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[Securities] CHECK CONSTRAINT [FK_Securities_Accounts]
GO
ALTER TABLE [dbo].[Securities]  WITH CHECK ADD  CONSTRAINT [FK_Securities_ReferenceData] FOREIGN KEY([SecurityTypeId])
REFERENCES [dbo].[ReferenceData] ([Id])
GO
ALTER TABLE [dbo].[Securities] CHECK CONSTRAINT [FK_Securities_ReferenceData]
GO
/****** Object:  StoredProcedure [dbo].[CreateCustomerAndAssociation]    Script Date: 20/04/2021 00:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Test cases
CREATE PROCEDURE [dbo].[CreateCustomerAndAssociation]   
	@FirstName nvarchar(50),
    @LastName nvarchar(50), 
	@AddressLine1 nvarchar(60),
	@City nvarchar(30),
	@Country nvarchar(50),
	@PhoneNo nvarchar(25),
	@CustomerTypeId int,
	@CustomerId2 int,
	@AssociationTypeId int
AS   

	INSERT INTO [dbo].[Customers]([CustomerTypeId],[FirstName],[LastName],[PhoneNo],[AddressLine1],[City],[Country]) 
	VALUES (@CustomerTypeId,@FirstName, @LastName,@PhoneNo,@AddressLine1, @City, @Country)

	DECLARE @customerId AS INT = @@IDENTITY 
	
	INSERT INTO [dbo].[Associations] ([Customer1Id],[Customer2Id],[ReferenceDataId]) VALUES (@customerId, @CustomerId2, @AssociationTypeId)

GO
/****** Object:  StoredProcedure [dbo].[DeleteCustomer]    Script Date: 20/04/2021 00:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteCustomer] @CustomerId int   
AS   				
	DELETE FROM [dbo].[Associations] WHERE Customer1Id = @customerId OR Customer2Id = @customerId
	DELETE FROM [dbo].[Securities] WHERE AccountId IN (SELECT Id FROM [dbo].[Accounts] WHERE customerId = @customerId)
	DELETE FROM [dbo].[Accounts] WHERE customerId = @customerId	
	DELETE FROM [dbo].[Customers] WHERE Id= @customerId	
GO
USE [master]
GO
